#textBody {

text-align: center;

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

color: fffff;

}

#backgroundBody {

background-repeat: no-repeat;

background-attachment: fixed;

background-position: center center;

background: url(background.png);

background-size: cover;

background-color:#464646;

}

.fa {

padding: 20px;

font-size: 30px;

width: 30px;

text-align: center;

text-decoration: none;

margin: 5px 2px;

border-radius: 50%;

background: #120e07;

color: #ffce54;

}

.fa:hover  {

opacity: 0.7;

}

background-color: #08AEEA;

background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 24%, #0cb5c9 49%, #1b32c7 75%, #8f1b1b 100%);








